main{
    width: 100%;
    height: 100vh;
    background-image: url(../Resources/bg1.jpg);
    background-position: center;
    background-size: cover/auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >h2{
        font-family: "Satisfy" sans-serif;
        color: rgb(166, 6, 252);
        position: relative;
        top: 2rem;
    }

    .enter{
        width: 30%;
        height: 70%;
        background-color:rgb(250, 246, 246);
        border-radius: 20px 10px 20px 10px;
        box-shadow: 0 0 10px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        >h1{
            padding: 1rem;
            font-family: "Barlow",sans-serif;
            color:#000033;
            
        }
        >p{
            padding: 1rem;
            color: rgb(116, 108, 108);
            font-weight: 500;
        }
        .image{
            width: 100%;
            height: 20%;
            border-radius: 20px;
            display: flex;
            justify-content: space-evenly;
            align-items:center;
            >img{
                width: 150px;
            }
        }
        
        #icon{
            font-size: 2rem;
            color: rgb(252, 94, 125);
        }
      
   
        >a{
            width: 30%;
            height: 10%;
            background-color:crimson;
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            >&:hover{
                background-image: linear-gradient(
                    90deg,
                    #fa8bff 0%,
                    #2bd2ff 50%,
                    #2bff88 75%,
                    #fa8bff 100%
                );
                color: black;
                font-weight: 600;
                animation: slide 7s linear infinite;
            }
            @keyframes slide {
                100%{
                    background-position: 20rem;
                }
             }
        }
    }
}